@import 'reset';

body, html {
    scroll-behavior: smooth;
    text-align: center;
}
body {
    background-color: #F0F0F0;
}
@font-face {
    src: url('./fonts/gilroy-light.otf');
    font-family: 'gilroy';
}
* {
    font-family: 'gilroy';
}
img {
    max-width: 100%;
}

$primary: #63B286;
$secondary: #DD195B;


.btn {
    color: #FFF !important;
    background-color: gray;
    min-width: 220px;
    padding: 13px 15px;
    border-radius: 35px;
    text-decoration: none;
    font-size: 20px;

    &--primary {
        background-color: $secondary;
    }
    &--secondary {
        background-color: $primary;
    }
}


.header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 15px;
    line-height: 64px;
    padding: 15px 90px;

    .header__logo {
        width: 125px;
        object-fit: contain;
        height: 64px;
    }
    .header__links {
        a {
            text-decoration: none;
            color: #707070;
            margin-right: 40px;
        }

        .link__flag {
            height: 50px;
            width: 50px;
            border-radius: 100%;
            margin-right: 0;
            border: solid 2px $primary;
        }
    }
}
.info__block {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15vh;
}
#hero {
    background-image: url(/assets//office.jpg);

    h1 {
        font-size: 64px;
        color: #FFF;
        letter-spacing: 1.2px;
        padding-top: 25vh;
    }
    .btn {
        display: block;
        margin: 10vh auto 0 auto;
        width: 50px;
    }
}
h2 {
    font-size: 40px;
    color: $secondary;
    margin-bottom: 15px;
}
p {
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 23px;
}
#about {
    .block__image {
        background-image: url(/assets/person_with_phone.jpg);
        height: 40vh;
        margin-top: 15vh;
    }
    h2 {
        padding-top: 15vh;
    }
}
#blocks {
    padding: 0 90px;

    .blocks__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;

        .grid__block {
            background-color: #FFF;
            border-radius: 72px;
            padding: 50px 0;
            box-shadow: 6px 12px 6px 0px rgba(75,75,75,0.17);

            p {
                margin: 0 25px;
                width: calc(100% - 50px);
            }
        }
    }
    .btn {
        display: block;
        margin: 10vh auto 0 auto;
        width: 50px;
    }
}
.block__image--blocks {
    background-image: url(/assets/woman_with_phone.jpg);
    height: 25vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 100%;
}
.mt {
    margin-top: 15vh;
}
.mb {
    margin-bottom: 15vh;
}
.mt-s {
    margin-top: 10vh;
}
.mb-s {
    margin-bottom: 10vh;
}

#how {
    padding: 0 90px;
    .image_blocks {
        margin-top: 15vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 150px;

        .image__block {
            h2 {
                margin-top: 25px;
                text-align: left;
            }
            p {
                margin: 0;
                text-align: left;
                width: 100%;
            }
            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
            }
        }
    }
}
.block__image--how {
    background-image: url(/assets/person_with_phone.jpg);
    height: 40vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 100%;
}
#prices {
    padding: 0 90px;

    .prices__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 100px;

        .prices__price {
            background-color: #FFF;
            border-radius: 50px;
            padding: 25px;
            box-shadow: 6px 12px 6px 0px rgba(75,75,75,0.17);

            h3 {
                color: $secondary;
                font-size: 20px;
                margin-bottom: 15px;
            }
            p {
                margin: 15px 0;
                width: 100%;
                font-size: 17px;
            }
            .price__description {
                text-align: left;
                margin: 15px 0 0 0;
                width: 100%;
                font-size: 18px;
                color: $secondary;
            }
            .description__info {
                text-align: left;
                margin: 0;
                width: 100%;
                font-size: 16px;
                line-height: 18px;
            }
            .prices__values {
                display: grid;
                grid-template-columns: 1fr 1fr;
                border-top: solid 1px $primary;
                border-bottom: solid 1px $primary;

                .value__price {
                    font-size: 45px;
                    color: $secondary;
                    padding: 30px 0;
                    margin: 0;
                }
                .value__description {
                    padding: 0 10px 30px 10px;
                    margin: 0;
                    width: calc(100% - 20px);
                }
                .value__subtitle {
                    margin: 0;
                    margin-top: 30px;
                    font-size: 28px;
                    color: $secondary;
                }
                .value__info {
                    margin: 0;
                    color: $secondary;
                    letter-spacing: .6;
                    line-height: 16px;
                    margin-top: 10px;
                    margin-bottom: 25px;
                }
                .border-right {
                    border-right: solid 1px $primary;
                }
            }
        }
    }
}

#partners {
    padding: 0 90px;
    .info {
        margin: 0;
        width: 100%;
        margin-bottom: 10vh;
    }

    .parnters__list {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        .partner {
            display: inline-block;
            margin: 0 25px;

            img {
                padding: 15px 75px;
                background-color: #FFF;
                border-radius: 30px;
                box-shadow: 6px 12px 6px 0px rgba(75,75,75,0.17);
                height: 100px;
                width: 100px;
                object-fit: contain;
            }
            p {
                text-align: center;
                margin: 20px 0 0 0;
                width: 100%;
            }
        }
    }
}


.footer {
    background-color: #63B286;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 15px 90px;
    grid-gap: 50px;
    text-align: left;

    p {
        margin: 0;
        width: 100%;
        font-size: 16px;
    }

    .btn {
        display: block;
        margin: 10px 0;
        width: calc(100% - 30px);
        text-align: center;
    }
}