body {
    margin: 0;
    background-color: #F0F0F0;
}
@font-face {
    src: url('./fonts/gilroy-light.otf');
    font-family: 'gilroy';
}
* {
    font-family: 'gilroy';
    font-size: 20px;
}
img {
    max-width: 100%;
}

.header {
    background-color: #FFF;
    text-transform: uppercase;
    color: #707070;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 10px;
    padding: 16px 140px;
}
.header img {
    width: 83px;
    height: 83px;
    object-fit: contain;
}
.header .logo img {
    width: 185px;
    height: 83px;
}
.header .header-right {
    display: grid;
    grid-template-columns: 1fr 83px 83px;
    grid-gap: 10px;
}
.header .header-right h1 {
    line-height: 83px;
    margin: 0;
    text-align: right;
}



.content {
    display: grid;
    grid-template-columns: 20vw 25vw auto;
    grid-gap: 10px;
}



.sidebar, .content .add-person-balk {
    background-color: #63B286;
}
.sidebar-head {
    background-color: #FFF;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 68px auto;
    grid-gap: 10px;
    padding: 5px 15px;
    text-transform: uppercase;
}
.sidebar form input {
    margin: 15px;
    width: calc(100% - 55px);
    padding: 5px 10px;
}
.sidebar form input::placeholder {
    color: #A3A3A3
}
.sidebar .sidebar-nav a {
    text-decoration: none;
}
.sidebar .sidebar-nav .nav__block {
    display: grid;
    grid-template-columns: 45px auto;
    grid-gap: 20px;
    background-color: #E5E5E5;
    border-bottom: #63B286 2px solid;
    padding: 10px 15px;
    color: #63B286;
}
.sidebar .sidebar-nav .nav__block img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}
.sidebar .sidebar-nav .nav__block--white {
    background-color: #FFF;
    color: #707070;
}
.sidebar .sidebar-nav .nav__block--selected {
    background-color: #DB2663;
    color: #FFF;
}
.sidebar .sidebar-nav .block__text {
    margin: 0;
    line-height: 45px;
    text-transform: uppercase;
}


.add-person-balk, .sidebar {
    min-height: calc(100vh - 120px);
}
.add-person-balk .add-person2 {
    background-color: #FFF;
    margin-top: 15px;
    padding: 5px 35px;
    text-transform: uppercase;
    color: #DB2663;
}
.add-person-balk .person-content {
    padding: 15px 35px;
}
.add-person-balk label {
    text-transform: uppercase;
}
.add-person-balk input, .add-person-balk select {
    margin-bottom: 15px;
    width: calc(100% - 20px);
    padding: 5px 10px;
    font-size: 16px;
}
.add-person-balk input::placeholder {
    color: #A3A3A3;
}
.add-person-balk select {
    text-transform: uppercase;
    width: 100%;
}
.add-person-balk .button_list {
    display: grid;
    margin-bottom: 15px;
}
.add-person-balk .button_list-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.add-person-balk .button_list-5{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.add-person-balk .button_list button {
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    border-right: solid 1px #A3A3A3;
}
.add-person-balk .button_list .button-active {
    color: #FFF;
    background-color: #DB2663;
}
.add-person-balk .colors__color {
    height: 35px;
    width: 100%;
}
.add-person-balk .colors {
    margin-bottom: 15px;
}
.add-person-balk .save-changes {
    width: 100%;
    background-color: #DB2663;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    border-radius: 19px;
    padding: 5px 10px
}


.activity__planner {
    margin-left: 15px;
}
.activity__planner .planner__head {
    display: grid;
    grid-template-columns: 350px 1fr 400px;
    width: calc(100vw - 20vw - 45px);
}
.activity__planner .head__text {
    color: #DB2663;
    text-transform: uppercase;
    display: block;
    line-height: 40px;
}
.activity__planner .head__chart {
    width: 100%;
    display: block;
    grid-column: 3;
    margin: 20px 0;
    height: 40px;
}
.activity__planner .planner__block {
    border: solid 10px #63B286;
    border-bottom: solid 10px #FFF;
    width: calc(80vw - 93px);
    height: calc(100% - 100px - 30px);
    background-color: #FFF;
    padding: 15px;
}
.activity__planner .block__text {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: solid 2px #63B286;
    text-transform: uppercase;
    color: #DB2663;
}
.activity__planner .planner__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.activity__planner .content__block {
    border: solid 1px #63B286;
    border-radius: 28px;
    background-color: #63B286;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 6px 12px 6px 0px rgba(75,75,75,0.17);
}
.activity__planner .block__right {
    background-color: #FFF;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}
.activity__planner .left__head img {
    height: 24px;
    width: 24px;
    float: right;
    padding: 10px 10px 10px 5px;
}
.activity__planner .pink-checkmark {
    background-color: #DB2663;
    padding: 10px !important;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 28px;
    transform: translate(-1px, -1px) !important;
    float: left !important;
}
.activity__planner .left__body {
    height: 125px;
    width: 90%;
    float: right;
    margin: 25px 0;   
}
.activity__planner .left__body img {
    height: 125px;
    width: 100%;
    object-fit: cover;
}
.activity__planner .block__right {
    padding: 10px;
}
.activity__planner .block__right * {
    margin: 0;
}
.activity__planner .setting__text, .activity__planner .task__title {
    color: #DB2663;
    text-transform: uppercase;
}
.activity__planner .right__head {
    margin-bottom: 15px;
}
.activity__planner .task__title {
    font-size: 16px;
    display: inline-block;
}
.activity__planner .task__pos {
    font-size: 24px;
    color: #63B286;
    display: inline-block;
    float: right;
}
.activity__planner .right__setting {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    margin-bottom: 5px;
}
.activity__planner .task__title {
    line-height: 31px;
}
.activity__planner [type=checkbox] {
    height: 31px;
    width: 31px;
}
.activity__planner .button {
    min-width: 22vw;
    border: none;
    color: #FFF;
    background-color: #707070;
    padding: 10px;
    border-radius: 23px;
    margin-top: 25px;
}
.activity__planner .button--primary {
    background-color: #DB2663;
}
.activity__planner .button--secondary {
    background-color: #63B286;
}
.activity__planner .block__head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 2px #63B286;
    padding-bottom: 15px;
}
.activity__planner .block__head .head__text {
    line-height: 43px;
    margin: 0;
}
.activity__planner .block__head .head__search {
    height: 43px;
    margin: 0;
    padding: 5px 10px;
}
.activity__planner .block__head .head__search::placeholder {
    color: #A3A3A3
}
.activity__planner .block__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-top: 15px;
}
.activity__planner .checkbox-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.activity__planner .checkbox-list {
    text-align: left;
}
.activity__planner .checkbox {
    width: 31px;
    height: 31px;
}
.activity__planner .block__content label {
    text-transform: uppercase;
    color: #DB2663;
    display: block;
}
.activity__planner .block__content input, .activity__planner .block__content select {
    width: 100%;
    text-transform: uppercase;
}