.screen__client-calander {
    background-color: #FFF;

    .header {
        padding: 35px 20px 0 20px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 25px;
        
        .hamburger-menu {
            height: 28px;
            width: 28px;
            margin: 2.5px 0;
            img {
                height: 28px;
                width: 28px;
                object-fit: contain;
            }
        }
        .screen__title {
            font-size: 22px;
            text-transform: uppercase;
            text-align: center;
        }
        .calander {
            height: 28px;
            width: 28px;
            margin: 2.5px 0;
            img {
                height: 28px;
                width: 28px;
                object-fit: contain;
            }
        }
    }
    .navigator {
        background-color: $secondary;

        .navigator__navigation {
            margin: 15px auto;
            width: 175px;
            display: grid;
            grid-template-columns: 27px auto 27px;
            padding: 17px;

            .arrow {
                margin: 0 auto;
                height: 27px;
                width: 27px;
                margin: 3px 0;

                img {
                    height: 27px;
                    width: 27px;
                    object-fit: contain;
                }
            }
            .arrow--left img {
                transform: rotate(180deg);
            }
            .calander-day {
                font-size: 22px;
                text-transform: uppercase;
                text-align: center;
                color: #FFF;
            }
        }
    }
    .content {

        .calander-table {
            border-collapse: collapse;
            width: 100%;

            .row__current {
                background-color: $secondary;
                td {
                    color: #FFF;
                }
            }
            td {
                border-bottom: 1px solid #D0D0D0;
                border-top: 1px solid #D0D0D0;
            }
            .col__time {
                font-size: 15px;
                text-align: center;
                padding: 12.5px 0;
                border-right: 1px solid #707070;
            }
            .col__activities {
                .activities__activity {
                    background-color: $primary;
                    color: #FFF;
                    padding: 7px 8px;
                    margin-left: 5px;
                    border-radius: 8px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }
        .modal {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba(#767676, .3);
            display: none;

            .modal-box {
                position: sticky;
                background-color: #FFF;
                margin: 20px;
                top: 25vh;
                border-radius: 32px;
                padding: 20px;
                width: calc(100% - 40px);

                .modal-head {
                    display: grid;
                    grid-template-columns: 34px auto 34px;
                    grid-gap: 20px;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid $secondary;

                    &--no_bottom {
                        margin-bottom: 0;
                    }
                    .head__title {
                        color: $primary;
                        font-size: 18px;
                        line-height: 34px;
                    }
                    .head__title-close_btn {
                        height: 34px;
                        width: 34px;

                        img {
                            height: 22px;
                            width: 22px;
                            object-fit: contain;
                            margin: 6px 0;
                            float: right;
                        }
                    }
                }

                .modal-content {

                    .content__video {
                        width: 100%;
                        border: solid 1px $primary;
                        border-radius: 5px;
                    }
                    .content__grid {
                        display: grid;
                        grid-template-columns: 49px auto;
                        grid-gap: 15px;

                        .grid__actions {
                            border-right: solid 1px $secondary;
                            padding-top: 15px;

                            .modal-action_btn {
                                border: solid 1px $primary;
                                border-radius: 5px;
                                width: 34px;
                                height: 34px;
                                object-fit: contain;
                                padding: 5px;
                                margin-bottom: 10px;
                            }
                        }
                        .grid__details {
                            padding-top: 15px;

                            .details__description {
                                margin-top: 20px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}