.navigation {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #DBDBDB;
    width: 90%;
    height: 100%;
    padding: 40px 20px;
    z-index: 99;
    transition: transform ease .3s;
    transform: translateX(-100%);

    .close_btn {
        float: right;
        width: 100%;
        border-bottom: $secondary 2px solid;
        padding-bottom: 20px;

        img {
            height: 23px;
            width: 23px;
            object-fit: cover;
            float: right;
        }
    }
    .current_profile, .monitor__profile {
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 69px auto;
        grid-gap: 20px;
        margin-top: 85px;

        .profile__picture {
            width: 69px;
            height: 69px;
            object-fit: contain;
            border-radius: 100%;
            background-color: $secondary;
        }
        .profile__details {
            .details__name {
                font-size: 18px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .details__table {
                display: grid;
                grid-template-columns: 85px auto;
                grid-gap: 5px;

                .table__row--lower {
                    text-transform: lowercase !important;
                }
            }
            .details__table--email, .details__table--phone {
                grid-template-columns: 55px auto;
            }
            .row__value {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .profile__title, .panic__subtitle {
        color: $primary;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .monitor__profile {
        margin-top: 10px;
    }
    .panic__block {
        position: relative;
        .btn--panic {
            margin-top: 40px;
        }
        .panic__alert {
            background-color: #F2F2F2;
            border-radius: 20px;
            padding: 15px;
            position: absolute;
            top: 40px;
            width: 100%;
            display: none;
    
            .panic__subtitle {
                text-align: center;
                margin-top: 0;
                border-bottom: solid 2px $secondary;
                margin-bottom: 15px;
            }
            .panic__text {
                text-align: center;
                margin-bottom: 5px;
            }
            .btn--panic {
                margin-top: 0px;
            }
            .mb {
                margin-bottom: 35px;
            }
        }
    }
}